extends ../layout/layout.pug
block content
    h1 Cart
    table.table
        th Name
        th Phone
        th 
        each product in cart
            tr
                td
                    img(src=user.avatar, width="64")
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href='#' + user.id) Delete